@page
@using ASPNETCoreTraining2020.modul02
@inject Class1 class1
@model ASPNETCoreTraining2020.Pages.modul03.page2Model
@{

   
}
@functions
{

}
<h2>Page 2</h2>
@(1+1)+1
@Model.MyProperty
<hr />
@Model.Datum()

