@page
@model ASPNETCoreTraining2020.Pages.modul05.BildUploadModel
@{
}
<h1>Bild Upload</h1>
<form enctype="multipart/form-data" method="post">
    <input type="file" name="datei" />
    <input type="submit" />
</form>